body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aqua;
}

.task{
    background-color: rgb(196, 62, 69);
    padding: 10px;
    margin: 8px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    border-radius: 5px;
}

.task-done{
    text-decoration: line-through;
    color: gray;
}
button{
    margin-left: 5px;
    font-size: 15px;
    border-radius: 100%;
}
#tasks{
    margin-top: 20px;
}
